body {
  margin: 0px;
}
h1, h2, h3, p {
  margin: 0px;
  padding: 0px;
}
.header-bg {
  background-color: #000000;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
}
li {
  color: #ffffff;
  list-style: none;
}
ul {
  display: flex;
  gap: 20px;
}
