.bicicletas-bg {
  background: linear-gradient(to left, var(--cor-11) 70%, var(--cor-0)0%) ;
  
}
.bicicletas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.bicicletas-imagem {
  display: grid;
}
.bicicletas-imagem span {
  background-color: var(--cor-12);
  border-radius: 4px 0px 0px 4px;
  padding: 8px 16px 8px 8px;
  position: absolute;
  place-self: start end;
  margin-top: 20px;
  display: inline-block;

}
.bicicletas-conteudo {
  display: grid;
  grid-template-columns: 1fr auto;
  align-content: start;
}
.bicicletas-conteudo h2, p {
  grid-column: 1/-1;
}
.bicicletas-conteudo h2 {
  margin-bottom: 20px;
}
.bicicletas-conteudo h2::before {
  content: "";
  width: 12px;
  height: 8px;
  background-color: var(--cor-p1);
  display: block;
  transition: 0.3s;
  margin-bottom: 8px;
}
.bicicletas-conteudo p {
  margin-bottom: 32px;
}
.bicicletas-conteudo ul {
  display: grid;
  gap: 16px;
  font-weight: 500;
}
.bicicletas-conteudo li {
  display: flex;
  align-items: center;
  gap: 8px;
}
.bicicletas-conteudo img {
  width: 24px;  
  grid-column: 1;
  display: inline-block;
}
.bicicletas-conteudo a {
  place-self: end;
}

@media (max-width: 800px) {
  .bicicletas {
    grid-template-columns: 1fr;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .bicicletas-bg {
    background: var(--cor-11) ;
  }
  .bicicletas-conteudo h2 {
    margin-bottom: 12px;
  }
  .bicicletas-conteudo h2::before {
    margin-bottom: 4px;
  }
  .bicicletas-conteudo p {
    margin-bottom: 16px;
  }
  .bicicletas-conteudo ul {
    display: grid;
    gap: 8px;
    font-weight: 500;
  }
  .bicicletas-conteudo li {
    display: flex;
    align-items: center;
    gap: 4px;
  }
}
@media (max-width: 600px) {
  .bicicletas-conteudo {
    grid-template-columns: 1fr;
  }
  .bicicletas-conteudo ul {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 32px;
    font-size: 1rem;
  }
  .bicicletas-conteudo a {
    place-self: start;
  }
}