.header-bg {
  background-color: var(--cor-12);
}
.header-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  gap: 20px;
}
.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.header-menu a {
  padding: 16px 0px;
  display: inline-block; /*Para quando um o responsivo jogar ele para baixo, o padding  não entrar dentro do outro.*/
  position: relative; /*Para o a::after não crescer em relação ao header-menu e sim crescer em relação ao .header-menu a */
}
.header-menu a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  background-color: var(--cor-0);
  margin-top: 4px;
  position: absolute; /*Para não pegar os 2px de altura do content + os 4 de margem.*/
}
.header-menu a:hover::after {
  width: 100%;
  transition: 0.3s;
}
.header-container li {
  list-style: none;
  font-size: 1.3rem;
}
@media (max-width:800px) {
  .header-menu {
    gap: 20px;
  }
  .header-menu a {
    background-color: var(--cor-11);
    padding: 12px 16px;
    border-radius: 4px;
  }
  .header-menu a:hover {
    background-color: var(--cor-10);
  }
  .header-menu a::after {
    display: none;
  }
}
@media (max-width:600px) {
  .header-menu {
    gap: 12px;
    justify-content: center;
  }
  .header-menu a {
    padding: 8px 12px;
    font-size: .875rem;
  }
}
@media (max-width:460px) {
  .header-container {
    justify-content: center;
  }
  
}